[Desktop Entry]
Name=Fluxus
Comment=A 3D game engine for livecoding
Version=1.0
Exec=fluxus
Terminal=true
Type=Application
Icon=fluxus-icon
#cats as in menu-spec-1.0:
Categories=Graphics;
